<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="./CSS/stylecss.css">
</head>

<body>
    <main>
    <div class="main_block">
        <span class="image_block"><img src="./assets/icons/Icon.svg" alt="" class="icon"></span>
        <div class="registration">Authorization</div>
        
        <div class="input_block">
            <label for="E-mail">E-mail</label>
            <span class="email_block_bd">
                <input type="email" placeholder="E-mail">
            </span>
        </div>
        <div class="input_block">
            <label for="E-mail">Password</label>
            <span class="email_block_bd">
                <input type="password" placeholder="Password">
            </span>
        </div>

        <div class="buttons">
            <input type="submit" class="main_btn" value="log in">
            <span class="error">There is no such account</span>
            <input type="submit" class="second_btn" value="Create a new account?">
        </div>
    </div>
    </main>
</body>
</html>         