<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои гайды</title>
    <link rel="stylesheet" href="./CSS/stylecss.css">
</head>

<body>
        <header class="header">
            <div class="container">
            <button class="header_button" onclick="ShowMenu();">
                <img src="./assets/icons/Games.svg" alt="">
            </button>
            </div>
        </header>

        <div id="overlay" style="display: none;"  onclick="ShowMenu()">
            <div class="menu" onclick="event.stopPropagation()">
                <div class="menu_header">
                    <img src="./assets/icons/Icon.svg" alt="">
                    <span class="menu_title">Sardar monkey</span>
                </div>
                <div class="menu_main">
                    <button class="menu_button">
                        <a href="#" class="">
                            Main
                        </a>
                    </button>
                    <button class="menu_button">
                        <a href="#" class="">
                            All Games 
                        </a>
                    </button>
                    <button class="menu_button">
                        <a href="#" class="">
                            All Guides 
                        </a>
                    </button>
                    <button class="menu_button">
                        <a href="#" class="">
                            My Guides
                        </a>
                    </button>
                    <button class="menu_button">
                        <a href="#" class="">
                            Exit: <span>Sardarhomatv@gmail.com</span>
                        </a>
                    </button>
                </div>
            </div>
    </div>

        <div id="overlay2" style="display: none;" onclick="ShowDelete();">
            <div  class="yousure" onclick="event.stopPropagation()">
                <span class="delete_title">Are you sure about that?</span>
                <div class="delete_buttons">
                    <button class="btn is-green">
                        Yes
                    </button>
            
                    <button class="btn is-red" onclick="ShowDelete();">
                        No
                    </button>
                </div>
            </div>
        </div>

    <main>
        <section class="mobile_block">
            <div class="second_header">
                <span class="txt">My Guides</span>
            </div>
           
            <div class="container">
                <div class="create_block">
                    <div class="creation">
                        <div><img src="./assets/icons/Editors.svg" alt=""></div>
                        <span class="create">Create</span>
                    </div>
                    <div class="basebal">
                        <div class="create_head">
                            <span class="title">Minecraft sex update</span>
                            <div class="images">
                                <button class="edit_trash_btn" onclick="ShowDelete();"><img src="./assets/icons/Delete.svg" alt=""></button>
                            </div>     
                        </div>
                        <div class="create_main">
                            <img src="./assets/icons/minecraft.jpg" alt="minecraft" class="card_image">
                            <span class="card_txt">Creator : sardarmonkey</span>
                            <span class="card_txt">Category : Minecraft</span>
                            <span class="card_txt">Date : 12.09.2024</span>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>

    <script src="./Js/script.js"></script>
</body>
</html>         
