<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="./CSS/stylecss.css">
</head>

<body>
    <div class="main_block">
        <span class="image_block"><img src="./assets/icons/Icon.svg" alt="" class="icon"></span>
        <div class="registration">Registration</div>
        <div class="input_block">
            <label for="name">User name</label>
            <span class="email_block_bd">
                <input type="email" placeholder="User name" id="name">
            </span>
        </div>
        <div class="input_block">
            <label for="E-mail">E-mail</label>
            <span class="email_block_bd">
                <input type="email" placeholder="E-mail" id="E-mail">
            </span>
        </div>
        <div class="input_block">
            <label for="password">Password</label>
            <span class="email_block_bd">
                <input type="password" placeholder="Password" id="password">
            </span>
        </div>
        <div class="buttons">
            <input type="submit" class="main_btn" value="Sign up">
            <span class="error">This account already exists</span>
            <input type="submit" class="second_btn" value="Already have an account?">
        </div>
    </div>
</body>
</html>         