{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<form method="post" class="form">
    {% csrf_token %}
    <div class="main_block">
        <span class="image_block"><img src="{% static './assets/icons/Icon.svg' %}" alt="icon" class="icon"></span>
        <div class="registration">Authorization</div>
        

        <div class="input_block">
            <label for="id_username">Username</label>
            <span class="email_block_bd">
                {{form.username}}
            </span>
        </div>
        <div class="error">{{ form.username.errors }}</div>
        
        <div class="input_block">
            <label for="id_password">Password</label>
            <span class="email_block_bd">
                {{form.password}}
            </span>
        </div>  
        <div class="error">{{ form.non_field_errors }}</div>

        <div class="buttons">
            <button type="submit" class="main_btn">Login</button>
            <a href="{% url 'sign_up' %}">
                <button type="button" class="second_btn">Create a new account?</button>
            </a>
        </div>
    </div>
</form>
{% endblock %}